### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
data = "purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [3]:
# Display number of players
total_players = purchase_data['SN'].nunique()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Format the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Define variables
unique_items = purchase_data['Item ID'].nunique()
avg_price = purchase_data['Price'].mean()
purchase_count = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()

# Set DataFrame
purchasing_analysis = pd.DataFrame({"Number of Unique Items" : [unique_items],
                        "Average Price" : ["${:.2f}".format(float(avg_price))],
                        "Number of Purchases" : [purchase_count],
                        "Total Revenue" : ["${:,.2f}".format(float(total_revenue))]})
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Format the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Define variables & formatting
gender_count = purchase_data['Gender'].value_counts()
percent_players = purchase_data['Gender'].value_counts('Male') * 100
percent_players = percent_players.map("{:.2f}%".format)

In [6]:
# Set DataFrame
gender_demographic = pd.DataFrame({"Percentage of Players" : percent_players,
                         "Total Count" : gender_count})
gender_demographic

                      Percentage of Players  Total Count
Male                                 83.59%          652
Female                               14.49%          113
Other / Non-Disclosed                 1.92%           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Format the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Define variables
gender = purchase_data.groupby(['Gender'])
gender_ap = gender['Price'].mean()
gender_tpv = gender['Price'].sum()
max_price = purchase_data['Price'].max()
normalized = gender_tpv / gender_count

In [8]:
# Set formatting
gender_ap = gender_ap.map("${:.2f}".format)
gender_tpv = gender_tpv.map("${:,.2f}".format)
normalized = normalized.map("${:.2f}".format)

In [9]:
# Set DataFrame
purchasing_analysis = pd.DataFrame({"Purchase Count" : gender_count,
                        "Average Purchase Price" : gender_ap,
                        "Total Purchase Value" : gender_tpv,
                        "Normalized Totals" : normalized})
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Format the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins,labels=group_names)

# Define variables
age_group = purchase_data.groupby(['Age Group'])
age_count = age_group['Age'].count()
percent = (age_group['Age'].count()/total_players) * 100

In [11]:
# Set variable formatting
age_count = age_count.map("{:.0f}".format)
percent = percent.map("{:.2f}%".format)

In [12]:
# Set DataFrame
age_demographic = pd.DataFrame({"Percentage of Players" : percent,
                                "Total Count" : age_count})
age_demographic

          Percentage of Players Total Count
Age Group
<10                       3.99%          23
10-14                     4.86%          28
15-19                    23.61%         136
20-24                    63.37%         365
25-29                    17.53%         101
30-34                    12.67%          73
35-39                     7.12%          41
40+                       2.26%          13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Format the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# Define variables
id_count = age_group['Purchase ID'].count()
age_ap = age_group['Price'].mean()
age_tpv = age_group['Price'].sum()
normalized2 = age_tpv / id_count

In [14]:
# Set variable formatting
age_ap = age_ap.map("${:.2f}".format)
age_tpv = age_tpv.map("${:,.2f}".format)
normalized2 = normalized2.map("${:,.2f}".format)

In [15]:
# Set DataFrame
purchasing_analysis = pd.DataFrame({"Purchase Count" : id_count,
                                    "Average Purchase Price" : age_ap,
                                    "Total Purchase Value" : age_tpv,
                                    "Normalized Totals" : normalized2 })
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Group,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Format the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
# Define variables
user = purchase_data.groupby(['SN'])
user_pc = user['Purchase ID'].count()
user_app = user['Price'].mean()
user_tpv = user['Price'].sum()

In [17]:
# Set variable formatting
user_app = user_app.map("${:.2f}".format)
user_tpv = user_tpv.map("${:.2f}".format)

In [18]:
# Set DataFrame
top_spender = pd.DataFrame({"Purchase Count" : user_pc,
                            "Average Purchase Price" : user_app,
                            "Total Purchase Value" : user_tpv})
top_spender.sort_values("Total Purchase Value", axis=0, ascending=False).head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Format the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
# Retrieve relevant columns
popular = purchase_data.loc[:,["Item ID","Item Name", "Price"]]
popular.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [20]:
# Define variables
item = popular.groupby(['Item Name'])
item_pc = item['Item ID'].count()
item_app = item['Price'].mean()
item_tpv = item['Price'].sum()

In [21]:
# Set variable formatting
item_app = item_app.map("${:.2f}".format)
item_tpv = item_tpv.map("${:.2f}".format)

In [22]:
# Set DataFrame
most_popular = pd.DataFrame({"Purchase Count" : item_pc,
                             "Average Purchase Price" : item_app,
                             "Total Purchase Value" : item_tpv})
most_popular.sort_values("Purchase Count", axis=0, ascending=False).head()

,Purchase Count,Average Purchase Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Persuasion,9,$3.22,$28.99
Nirvana,9,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Format the displayed data cleaner formatting


* Display a preview of the data frame

In [23]:
# Define variables
profitable = purchase_data.groupby(['Item Name'])
profit_pc = profitable['Item ID'].count()
profit_app = profitable['Price'].mean()
profit_tpv = profitable['Price'].sum()

In [24]:
# Set variable formatting
profit_app = profit_app.map("${:.2f}".format)
profit_tpv = profit_tpv.map("${:.2f}".format)

In [25]:
# Set DataFrame
most_profitable = pd.DataFrame({"Purchase Count" : profit_pc,
                                "Average Purchase Price" : profit_app,
                                "Total Purchase Value" : profit_tpv})
most_profitable.sort_values("Total Purchase Value", axis=0, ascending=False).head()

,Purchase Count,Average Purchase Price,Total Purchase Value
Item Name,,,
Stormfury Mace,2,$4.99,$9.98
"Chaos, Ender of the End",5,$1.98,$9.90
Stormfury Longsword,2,$4.93,$9.86
"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
Frenzied Scimitar,6,$1.56,$9.36